:root {
  --clr-darkshade: #375292;
  --clr-darkaccent: #af516a;
  --clr-main: #9aa5d1;
  --clr-lightaccent: #f0a749;
  --clr-lightshades: #f8f8f7;
}

.ui.container.full-width {
  width: 100%;
}

.ui.container.card-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 7% !important;
  margin-right: 5% !important;
}

.ui.three.column.grid.main-grid {
  background-color: var(--clr-darkshade);
  color: var(--clr-lightshades);
  padding: 10px;
  max-height: 120px;
}

.ui.two.column.grid.score {
  font-size: 28px;
}

.column.title {
  padding: 10px;
}

.row.score {
  text-align: center;
}

.three.wide.column.card {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 4px;
}

.image.image-height {
  height: auto;
}

img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
}
